// Imports Google font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Sass variables.
$primary-color: #3498db;
$background-color: linear-gradient(to right, #3e33db, #33dbae, #3e33db);

// CSS Reset
* {
	box-sizing: border-box; // Height and width aren't affected by borders and padding.
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden; // Extra content is hidden.
}

// Default styling for Laptop and Desktop
body {
	width: 100vw;
	height: 100vh;
	background: $background-color;
	display: flex;
	justify-content: center;
	align-items: center;

	// Flexbox container
	.container {
		text-align: center;

		// Progress bar
		.progress-container {
			width: 350px;
			max-width: 100%;
			display: flex;
			justify-content: space-between;
			position: relative; // Positions the progress bar within the width of the progress-container.
			margin-bottom: 30px;

			// Gray progress line
			&::before {
				content: ''; // Must include content for ::before and ::after to display.
				width: 100%;
				height: 5px;
				position: absolute;
				top: 50%;
				left: 0;
				background: gray;
				transform: translateY(-50%); // Vertically centers the gray progress line.
				z-index: -1;
			}

			// Blue progress line
			.progress {
				width: 0%;
				height: 5px;
				position: absolute;
				top: 50%;
				left: 0;
				background: $primary-color;
				transform: translateY(-50%);
				z-index: -1;
				transition: 1s ease; // This will transition with a duration of 1 seconds and transitions with a slow start and end.
			}

			// Progess numbers
			.circle {
				width: 35px;
				height: 35px;
				background: white;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 3.5px solid gray;
				border-radius: 50%;
				transition: 0.3s ease 0.5s; // This will transition with a duration of 0.3 seconds, transitions with a slow start and end, and has a delay of 0.5 seconds.
			}

			// Active progress numbers
			.active {
				border-color: $primary-color;
			}
		}

		// Prev and next buttons
		.btn {
			margin: 5px;
			padding: 8px 30px;
			background: $primary-color;
			color: white;
			font-size: 20px;
			border: 0;
			border-radius: 6px;
			cursor: pointer;

			// Active prev and next buttons
			&:active {
				transform: scale(0.98);
			}

			// Disabled prev and next buttons
			&:disabled {
				background: gray;
				cursor: not-allowed; // Cursor takes the form of a prohibition sign.
			}
		}
	}
}
