@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	box-sizing: border-box; // Height and width aren't affected by borders and padding.
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(150deg, #10233c, #326171) center/cover;
	color: white;

	// Header container
	header {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid white;

		// Movie App
		h1 {
			margin-left: 5vw;
			color: #00bb0f;
		}

		// Search bar form
		#form {
			// Search bar
			.search {
				padding: 0.5rem 1rem;
				border: 2px;
				border-radius: 3px;
				font-size: 1rem;

				&:focus {
					outline: none; // When the search bar is clicked, the outline is not shown.
				}
			}
		}
	}

	// Movies container
	main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		// Individual movie container
		.movie {
			position: relative;
			width: 300px;
			margin: 1rem;
			background: rgba(0, 0, 0, 0.3);
			border-radius: 5px;
			box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2); // Box shadow does not move to the right, moves to the bottom 10px, has a 5px blur, and the given color.
			overflow: hidden;

			// Movie poster
			img {
				width: 100%;
			}

			// Movie title and rating container
			.movie-info {
				padding: 0.5rem 1rem 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				letter-spacing: 0.5px;

				// Movie title
				h3 {
					margin-top: 0;
				}

				// Movie rating
				span {
					padding: 0.25rem 0.5rem;
					background: rgba(255, 255, 255, 0.1);
					border-radius: 3px;
					font-weight: bold;
				}

				// Additional styling for movie ratings 8 and above
				.green {
					color: lightgreen;
				}

				// Additional styling for movie ratings 5 and above
				.orange {
					color: orange;
				}

				// Additional styling for movie rating below 5
				.red {
					color: red;
				}
			}

			// Movie overview
			.overview {
				position: absolute;
				max-height: 100%;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 2rem;
				background: black;
				color: white;
				transform: translateY(
					101%
				); // Hides the overview below the individual movie container
				transition: transform 0.6s ease; // &:hover.overview's transform has 0.6 second duration with a slow start and end.
				overflow-y: scroll; // Added a scroll in case the overview is larger than the individual movie container.

				// Overview title
				h3 {
					color: #00bb0f;
				}
			}

			// Hover effect
			&:hover {
				.overview {
					transform: translateY(0);
				}
			}
		}
	}
}

// Styling for smaller viewports
@media (max-width: 430px) {
	body {
		header {
			h1 {
				font-size: 1.25rem;
			}

			#form {
				.search {
					font-size: 0.75rem;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	body {
		header {
			h1 {
				font-size: 1rem;
			}

			#form {
				.search {
					font-size: 0.6rem;
				}
			}
		}
	}
}

@media (max-width: 270px) {
	body {
		header {
			h1 {
				display: none;
			}

			#form {
				width: 80vw;
				left: 50%;
				transform: translateX(5%);

				.search {
					width: 100%;
					font-size: 0.6rem;
				}
			}
		}
	}
}
